/* COLORS 
#AC7444
#BAA793
#242D2C
#8F8475
#656157
*/

:root {
  --main-bg-color: #AC7444;
  --nav-color: #242D2C;
  --highlight-color: #BAA793;
  --highlight-dark-color: #656157;
  --secondary-color: #8F8475;
  
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: var(--nav-color);
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

#navbar {
  position: fixed;
  background: var(--nav-color);
  width: 100%;
  top: 0;
  height: 60px;
  z-index: 2;
  transition: 0.3s ease-in-out;
}

#nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.3em;
  transition: 0.4s;
  padding-top: 18px;
  padding-bottom: 17px;
  color: var(--highlight-color);
}

.nav-li:hover {
  background-color: var(--secondary-color);
  
}

.nav-li a {
  transition: 0.3s;
}

.nav-li a:hover {
  text-shadow: 2px 2px 2px var(--secondary-color);
}

.arrow-hide {
  display: none;
}

main {
  margin-top: 60px;
}

#welcome-section {
  height: 100vh;
  background-color: var(--secondary-color);
  background: url('../pic/coffee_back.jpg');
}

#welcome-message, .welcome-p {
  text-align: center;
}

#welcome-message {
  font-family: 'Rubik', sans-serif;
  padding-top: 30vh;
  font-size: 3em;
}

.welcome-p {
  padding-top: 30px;
  font-size: 1.5em;
}

#projects {
  background-color: var(--secondary-color);
}

#projects-header {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-top: 80px;
  font-size: 3em;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.project-tile {
  width: 400px;
  height: 330px;
  margin-top: 100px;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  transition: 0.5s ease;
  z-index: 1;
}

.project-tile:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.623);
}

.project-tile-img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-tile:last-child {
  margin-bottom: 100px;
}

.project-title {
  text-align: center;
  color: var(--highlight-color);
  font-size: 1.3em;
  padding-top: 20px;
}

#contact {
  background-color: var(--main-bg-color);
}

#contact-header {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-top: 70px;
  font-size: 3em;
}

.contact-p {
  font-size: 1.5em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#contact-ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 60px;
}

#footer-section {
  background-color: var(--nav-color);
}

.footer-p {
  text-align: center;
  color: var(--highlight-color);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;

}

@media screen and (max-width: 600px) {
    #navbar {
      height: auto;
      background-color: var(--nav-color)e3;
    }

    .nav-li:hover {
      background-color: inherit;
      
    }

    .nav-hide {
      transform: translateY(-180px);
    }

    .arrow-hide {
      display: inherit;
    }

    main {
      margin-top: 60px;
    }

    #nav-ul {
      display: block;
      text-align: center;
    }
}